#===================================================================================================#
# Imports                                                                                           #
#===================================================================================================#
import time

#===================================================================================================#
# ctftimeparser.py                                                                                  #
#===================================================================================================#
class CtftimeParser:
    TimeRangeForParseFromCtftimeInDays = 7
    TimeRangeForParseFromCtftimeInSeconds = 86400 * TimeRangeForParseFromCtftimeInDays
    ResultsCountLimit = 100
    StartTimestamp = int(time.time())
    FinishTimestamp = StartTimestamp + TimeRangeForParseFromCtftimeInSeconds
    APILink = f"https://ctftime.org/api/v1/events/?limit={ResultsCountLimit}&start={StartTimestamp}&finish={FinishTimestamp}"

    def updateVars(self):
        self.TimeRangeForParseFromCtftimeInSeconds = 86400 * self.TimeRangeForParseFromCtftimeInDays
        self.FinishTimestamp = self.StartTimestamp + self.TimeRangeForParseFromCtftimeInSeconds
        self.APILink = f"https://ctftime.org/api/v1/events/?limit={self.ResultsCountLimit}&start={self.StartTimestamp}&finish={self.FinishTimestamp}"

    def setTimeRange(self, days):
        self.TimeRangeForParseFromCtftimeInDays = days
        self.updateVars()

    def setResultsLimit(self, limit):
        self.ResultsCountLimit = limit
        self.updateVars()

#===================================================================================================#
# tgoperatorbot                                                                                     #
#===================================================================================================#
TgBotToken = "Token"
TgChatId = "ChatId"
